@import "../../variables.scss";

.Projects {
  ul.ProjectsFilter {
    margin-left: 15px;

    li {
      display: inline-block;
      margin-left: 30px;
      cursor: pointer;

      &.active {
        color: $blue;
      }
    }
  }

  .component-head {
    //margin: 20px;
    padding: 0 20px;
    margin-left: 10px;

    h3 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 24px;
    }
  }
}