@import "../../variables.scss";

.Projects {
  ul.ProjectsFilter {

    li {
      display: inline-block;
      margin-left: 20px;
      cursor: pointer;

      &.active {
        color: $blue;
      }
    }
  }

  .component-head {
    padding: 0 20px;
  }
}