.project-page {
  margin: 30px;
  padding: 0;
  font-family: 'Verdana';
  font-size: 16px;
  color: #999999;
  box-shadow: 0 0 50px rgb(241, 241, 241);
  .head-project {
    height: 60px;
    line-height: 60px;
    padding: 0 25px;
    h3 {
      float: left;
    }
    input, input[type="text" i]:disabled {
      margin: 20px 0 10px 5px;
      width: 80%;
      height: 28px;
      font-size: 24px;
      background-color: inherit;
    }

    .btn-project {
      display: block;
      height: 20px;
      width: 20px;
      float: right;
      margin: 20px 5px;
      background-size: 20px;
      cursor: pointer;

      &:active, &:focus {
        outline: none;
      }

      &.del {
        background: url("garbage.svg") no-repeat center transparent;
      }

      &.rename {
        background: url("rename.svg") no-repeat center transparent;
      }

      &.save {
        background: url("save.svg") no-repeat center transparent;
      }
    }
  }

  .table-row {
    border-bottom: 1px dashed #e6eaec;
    padding: 10px 0;
    margin: 0 !important;

    .table-data.title {
      word-wrap: break-word;

      .cont{
        padding-left: 0 !important;
      }
    }
  }

  .table-row:hover {
    background-color: #f8f8f8;
  }

  .table-head {
    padding: 10px 0 0 0;
    margin: 0 !important;
    text-transform: uppercase;
    background-color: #f9fafb;
    box-shadow: 0 0 24px rgba(153, 153, 153, 0.2);
    line-height: 15px;
    height: 50px;

    .table-head-name:first-child {
      padding-left: 25px;
    }

    .table-head-name i {
      margin-top: -5px;
      text-transform: lowercase;
      font-size: 10px;
      color: #cccccc;
    }
  }

  .table-data:first-child {
    padding-left: 25px;
  }

  .table-data i {
    font-size: 24px;
    color: #33ccff;
  }

  .icon {
    text-align: center;
  }

  .table-data p {
    font-size: 12px;
    color: #cccccc;
  }

  .btn-snapshot {
    display: block;
    height: 20px;
    width: 20px;
    float: right;
    margin: 20px 5px;
    background-size: 20px;
    cursor: pointer;

    &:active, &:focus {
      outline: none;
    }

    &.rename {
      background: url("rename.svg") no-repeat center transparent;
    }

    &.save {
      background: url("save.svg") no-repeat center transparent;
    }
  }

  .rename-snapshot {
    width: inherit;
  }
}