# dependencies
/node_modules
/client/node_modules

# testing
/coverage

# production
/client/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# scss
/client/src/**/*.css
/client/src/**/*.map