@import "../../variables.scss";

ul.polyamide-list {
  margin: 0;
  padding: 10px 0;
  list-style: none;

  li {
    padding: 5px 0 20px 250px;
    min-height: 250px;
    transition: All 0.3s;
    position: relative;

    h4 {
      text-align: left;
      margin: 0 0 5px 0;
      padding: 0;
    }

    label {
      display: inline-block;

      input {
        margin: 0 20px;
      }
    }

    .laser {
      margin: 0;
    }

    span {
      display: block;
      color: gray;
      font-style: italic;
      margin-right: 5px;

      &.profile {
        width: 200px;
        display: block;
        position: absolute;
        left: 20px;
        top: 5px;
        box-shadow: 0 0 12px rgba(153, 153, 153, 0.4);
        padding: 10px;

        svg {
          max-height: 180px;
        }
      }
      &.warning {
        color: red;
      }
    }
  }
}

