@import "../../../variables.scss";

.grid-options {
  padding: 0 5px 0 0;
  margin: 0 5px 0 0;
  border-right: 2px solid lavender;
  height: $toolSize;
  line-height: $toolSize;
  float: left;

  label {
    margin: 0 5px;
    font-weight: normal;
    display: inline-block;
    line-height: $toolSize;
    vertical-align: top;
    height: 100%;
    font-size: 11px;
    float: left;
  }

  input {
    margin: 0 5px;
    vertical-align: middle;
    &:active, &:focus {
      outline: none;
    }
  }

  input[type='checkbox'] {
    margin: 0 5px;
  }

  button {
    padding: 0 5px;
    float: left;
  }

  .step {
    width: 70px;
  }
}
