@import "../../variables.scss";

.threejs-app {
  .scene {
    display: block;
    position: absolute;
    top: $header-height + $options-height;
    left: $toolbar-width;
    width: calc(100% - #{$toolbar-width + $sidebar-width});
    height: calc(100% - #{$header-height + $options-height});
    //outline: 1px solid #666;
    overflow: hidden;
  }

  &.sidebar-collapsed {
    .scene {
      width: calc(100% - #{$toolbar-width + $sidebar-collapsed-width});
    }
  }

  //.panel {
  //  position: absolute;
  //  background-color: white;
  //  bottom: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 30px;
  //  font-size: 14px;
  //  padding: 0;
  //  z-index: 1;
  //}
}