@import "../../variables.scss";

#panel-layers {
  height: 100%;

  .content {
    height: calc(100% - #{$sidebar-toolbar-size});
    max-height: calc(100% - #{$sidebar-toolbar-size});
    overflow: auto;

    .item {
      padding: 3px;
      transition: All 0.2s;

      &:hover {
        background-color: rgba(0,0,0,0.1);
      }

      span {
        float: right;
        background-color: $gray;
        border-radius: 8px;
        padding: 0 5px;
      }
    }
    .active {
      background-color: rgba(0,0,0,0.1);
    }
  }

  .toolbar {
    button {
      float: left;
      opacity: 0.7;
      transition: All 0.3s;
      display: inline-block;
      width: $sidebar-toolbar-size;
      height: $sidebar-toolbar-size;

      &:hover {
        opacity: 1;
      }

      &:active, &:focus {
        outline: none;
      }

      &.combine {
        background: url("combine.svg") no-repeat center transparent;
        background-size: $sidebar-toolbar-size - 8px;
      }

      &.show-all {
        background: url("../ActiveEntities/show-all.svg") no-repeat center transparent;
        background-size: $sidebar-toolbar-size - 8px;
      }

      &.add-material {
        background: url("painter-palette.svg") no-repeat center transparent;
        background-size: $sidebar-toolbar-size - 8px;
      }
      &.btn-calc {
        background: url("calculator.svg") no-repeat center transparent;
        background-size: $sidebar-toolbar-size - 8px;
      }
      &.btn-edit {
        background: url("edit.svg") no-repeat center transparent;
        background-size: $sidebar-toolbar-size - 8px;
      }
    }
  }
}