@import "../../variables.scss";
ul.db-objects-list {
  margin: 0;
  padding: 10px 0;
  list-style: none;

  li {
    padding: 5px 0 5px 70px;
    min-height: 60px;
    height: inherit;
    transition: All 0.3s;
    position: relative;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    h4 {
      text-align: left;
      margin: 0 0 5px 0;
      padding: 0;
    }

    span {
      color: gray;
      font-style: italic;
      margin-right: 5px;

      &.svgIcon {
        border-radius: 5px;
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        left: 10px;
        top: 5px;
        box-shadow: lightgray 3px 3px 6px;
      }
      svg {
        max-height: 50px;
      }
    }
  }
}
.li-Header {
  padding: 10px;
}

