@import "_variables";

.Projects {
  ul.ProjectsFilter {

    li {
      display: inline-block;
      margin-left: 20px;
      cursor: pointer;

      &.active {
        color: $blue;
      }
    }
  }
}